
<div id="food-store-form"></div>

<div id="food-store-button">
    <%= link_to "Crea un Nuevo local", new_food_store_path, class: "btn btn-success", remote: true %>
</div> 

<div class="row">
    <% @food_stores.each do |food_store| %>
        <div class="card card-group col-md-4 px-3 mt-5 pt5 bg-light">
            <div class="card-body">
                <h5 class="card-title"><%= food_store.name %></h5>
                    <% food_store.photographics.each do |photo| %>
                        <% if photo != [] %>
                            <p><%= image_tag photo.variant(resize: "300x300"), class: "img-fluid rounded-circle" %></p>
                        <% end %>
                    <% end %>
            </div>
            <div class="container my-2">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><%= food_store.address %></li>
                </ul>
            </div>
        </div>
    <% end %>
</div>
