<h1 class="text-center">Tu Perfil</h1>


<h2><%= current_user.name %></h2>
<% if current_user.avatar? %>
    <div class="container ">
        <%= image_tag current_user.avatar, class: "img-fluid rounded-circle" %>
    </div> 
<br>
<div id="edit-perfil-button">
    <%= link_to "edita tu perfil", edit_user_path(current_user), class: "btn btn-success", remote: true  %>
</div>
<% end %>


<div id="edit-user-form"></div>
