<h1 class="text-center bg-primary">FoodGood</h1>

<h3 class="text-info">Bienvenido a un lugar donde podras encontrar locales de comidas compartidos por la comunidad </h3>

<h5 class="text-center">Te invitamos a dar tu colaboración </h5>

<p>Colabora para destacar a locales pequeños o poco conocidos y llevarte la oportunidad de comer algo muy cercano a tu casa o incluso categorias que no sabias que vendian en tu barrio</p>

<%#= image_tag current_user.images, class: "img-fluid rounded-circle" if @user.images.attached? %>

<% if current_user %>
    <%= render 'posts/posts' %>
<% end %>