<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<% if current_user %>
    <%= current_user.name %>
    <%= current_user.email %>
    <% if current_user.avatar? %>
        <div class="container ">
            <%= image_tag current_user.avatar, class: "img-fluid rounded-circle" %>
        </div> 
    <% end %>
<% end %>

<div id="edit-user-form"></div>
<div id="edit-perfil-button">
    <%= link_to "edita tu perfil", edit_user_path(current_user), class: "btn btn-success", remote: true  %>
</div>