<div id="graficos-user" class="container py-5 my-5">
  <h3>Publicaciones por usuarios</h3>
  <%= column_chart @yours_locals %>
  <h3>Comentarios por usuarios</h3>
  <%= pie_chart @yours_comments %>
</div>